@using AspCourse.Models.ChatModels;
@model AspCourse.Models.ChatModels.ChatViewModels.IndexViewModel

<script>

    function sendNewTopic() {
        $.post({
            url: "/Chat/AddNewTopic",
            data: {
                NewMessageText: $('#newTopicText').val(),
                NewTopicTitle: $('#newTopicTitle').val(),
            },
            success: function (data) {
                window.location.reload();
                console.log(data);
            }
        });
    }

    function removeTopic(id) {
        $.post({
            url: "/Chat/RemoveTopic/?id=" + id,
            type:"DELETE",
            success: function (data) {
                console.log(data);
                window.location.reload();
            }
        })
    }

</script>
<br /><br />
<span>Title: </span><input type="text" id="newTopicTitle" /><br />
<span>Text: </span><input type="text" id="newTopicText" /><br />
<button onclick="sendNewTopic()">SEND</button>
<br />


@foreach (Topic t in Model.Topics)
{
    <h2>
        <a href="~/Chat/Topic/@t.Id.ToString()">@t.Title</a>
        @{
            if (Model.IsModer)
            {
                <span style="font-size:12px">
                    <button onclick="removeTopic(@t.Id)">DELETE</button>
                    <button onclick="stickTopic(@t.Id)">STICK</button>
                    <button onclick="closeTopic(@t.Id)">CLOSE</button>
                </span>
            }
        }
    </h2>
}




