@using AspCourse.Models.ChatModels;
@using AspCourse.Models.ChatModels.ChatViewModels;
@using System.Text.RegularExpressions;
@model TopicViewModel


<script>

    


    function sendNewMessage() {
        $.post({
            url: "/Chat/AddNewMessage",
            data:{
                NewMessageText: $('#newMessageText').val(),
                NewMessageTopicId: "@Model.Topic.Id",
                NewMessagePictureUrl: $('#newMessagePictureUrl').val()
            },
            success: function (data) {
                console.log(data);
                if (data == "YOU ARE MUTED") {
                    alert("You are muted!");
                }
                window.location.reload();
            },            
        });
    }

    function removeMessage(id){
        $.post({
            url: "/Chat/RemoveMessage/?id=" + id,
            success:function(data){
                console.log(data);   
                window.location.reload();
            }
        })    
    }

    function replyToMessage(id){
        $('#newMessageText').val($('#newMessageText').val()+'>>' + id+'\n');     
    }


   


    function uploadImage() {
        var data = new FormData($("#uploadForm")[0]);

        $.ajax({
            url: '@Url.Action("AddFile", "File")',
            type: "POST",
            data: data,
            contentType: false,
            dataType: false,
            processData: false,
            success: function (result) {
                $("#newMessagePictureUrl").val("/uploads/"+result);
            }
        });
    }


</script>

<h1>
    @if (Model.Topic.IsSticky)
    {
        <abbr title="Thread is sticky"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></abbr>
    }
    @if (Model.Topic.IsClosed)
    {
        <abbr title="Thread is closed"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></abbr>
        
    }

    @Model.Topic.Title
</h1>


<hr />

@Html.Partial("MessagesListPartial", new MessagesListPartialViewModel()
    {
        Messages = Model.Messages,
        IsModer = Model.IsModer,
    })

@if (!Model.Topic.IsClosed)
{
    <br />
    <p><textarea id="newMessageText" style="height:150px;width:500px" placeholder="Enter Message text here"></textarea></p>
    <p><input id="newMessagePictureUrl"  class="form-control" placeholder="Enter Picture Url text here"/></p>

    <form id="uploadForm"  enctype="multipart/form-data">
        <input type="file" name="file" onchange="uploadImage()"/>
    </form>

    <p><button class="btn btn-default" onclick="sendNewMessage()">Send</button></p>
    
}





